@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Roboto", sans-serif;
}
.branding-logo:hover,
.navbar-account:hover,
.social-links:hover {
    cursor: pointer;
}
.navbar-account:focus,
.navbar-account:active,
.social-links:focus,
.social-links:active {
    outline: none !important;
    border: none !important;
    transform: scale(0.9);
}

.vote-button:hover {
    transform: scale(1.05);
}
.vote-button:active {
    transform: scale(0.95);
}